body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.center {
    text-align: center;
}
.left{
    text-align: left;
}
.right{
    text-align: right;
}
.justify{
    text-align: justify;
}

table.centered-head > thead > tr > th {
    text-align: center;
}

#toolbar-box img {
    float: right;
    display: block;
}

ul.toolbar {
    list-style: none;
    float: right;
}

.toolbar li {
    float: left;
}


#toolbar {
    float: right;
}

.form-horizontal .control-group {
    margin-bottom: 5px;
}


/* Responsive Docs
-------------------------------------------------- */
@media (max-width: 980px) {
    body {
        padding-top: 0px;
    }
}
