<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Libra CMS suite">
            <directory>./LibraCmsTest</directory>
            <directory>./LibraAppTest</directory>
            <directory>./LibraArticleTest</directory>
        </testsuite>
    </testsuites>
</phpunit>
