<?php
/**
 * Put changed configurations from administration
 * Now It's not using.
 */

return array (
  'Journal' => 
  array (
    'new_article_period' => 5,
    'menu_position' => 11,
    'file_upload_path' => __DIR__ . '/../data/journal',
  ),
);
