<p><?php echo $this->content ?></p>
<p>Action: <?php echo $this->action ?> in folder module/Application</p>
<p>
    This is the default user module. If you don't know where start, begin codding in this module.
</p>
