<p>{{ content }}</p>
<p>Action: {{ action }} by module/Application</p>
<p>
    This is the default user module. If you don't know where start, begin coding in this module.
</p>
<p>In Twig template</p>
