<?php
/**
 * Local Configuration Override
 *
 * This configuration override file is for overriding environment-specific and
 * security-sensitive configuration information. Copy this file without the
 * .dist extension at the end and populate values as needed.
 *
 * @NOTE: This file is ignored from Git by default with the .gitignore included
 * in ZendSkeletonApplication. This is a good practice, as it prevents sensitive
 * credentials from accidentally being comitted into version control.
 */

return array(
    'doctrine' => array(
        'connection' => array(
            'orm_default' => array(
                'driverClass' => 'Doctrine\DBAL\Driver\PDOMySql\Driver',
                'doctrineTypeMappings' => array(
                    'enum' => 'string',
                ),
                'params' => array(
                    'host'     => 'localhost',
                    'port'     => '3306',
                    'user'     => 'libra-cms',
                    'password' => 'password',
                    'dbname'   => 'libra-cms',
                    'charset'  => 'UTF8',
                    //for php < 5.3.5
                    'driverOptions' => array(
                        PDO::MYSQL_ATTR_INIT_COMMAND => 'SET NAMES \'UTF8\''
                    ),
                    //'memory'        => true,
                ),
            ),
        ),
        'configuration' => array(
            'orm_default' => array(
                //'driver'           => 'orm_default',
                // Generate proxies automatically (turn off for production)
                'generate_proxies'  => true,
            ),
        ),
    ),
);
