<?php
/**
 * Local Configuration Override
 *
 * This configuration override file is for overriding environment-specific and
 * security-sensitive configuration information. Copy this file without the
 * .dist extension at the end and populate values as needed.
 *
 * @NOTE: This file is ignored from Git by default with the .gitignore included
 * in ZendSkeletonApplication. This is a good practice, as it prevents sensitive
 * credentials from accidentally being comitted into version control.
 */

return array(
    'doctrine' => array(
        'connection' => array(
            'orm_default' => array(
                'driverClass' => 'Doctrine\DBAL\Driver\PDOMySql\Driver',
                'doctrineTypeMappings' => array(
                    'enum' => 'string',
                ),
                'params' => array(
                    'host'     => 'localhost',
                    'port'     => '3306',
                    'user'     => 'libra_cms',
                    'dbname'   => 'libra_cms',
                    'password' => 'password',
                    'charset'  => 'UTF8',
                ),
            ),
        ),
        'configuration' => array(
            'orm_default' => array(
                //'driver'           => 'orm_default',
                // Generate proxies automatically (turn off for production)
                'generate_proxies'  => true,
            ),
        ),
    ),

    // Change it and uncomment if you use Zend DB Adapter
    /*'db' => array(
        'driver'    => 'PdoMysql',
        'hostname'  => 'localhost',
        'port'      => '3306',
        'database'  => 'libra_cms',
        'username'  => 'libra_cms',
        'password'  => 'changeme',
    ),

    'service_manager' => array(
        'factories' => array(
            'Zend\Db\Adapter\Adapter' => 'Zend\Db\Adapter\AdapterServiceFactory',
        ),
    ),*/
);
